footer{
    margin-top: 5%;
}
.footer-area {
    padding: 40px 0;
    background: #f9f9f9;
}
.footer-area-bottom {
    background-color: #002D62;
    color: white;
}
.footer-area-bottom p{
    text-align: left;
    margin-top: 1rem;
}